Repository DaveBitter/fe-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, stylelint --fix, prettier --write, manypkg check

.lintstagedrc:

{
	"packages/**/*.{js,ts}": "eslint --cache",
	"packages/**/*.css}": "stylelint --fix",
	"packages/**/*.{js,ts,css,json,md}": "prettier --write",
	"**/package.json": "manypkg check"
}

chore(netlify): add github action
  .github/workflows/netlify.yml
  .gitignore
  .lintstagedrc
  README.md
  package.json
Due: manypkg check

refactor(button): update label of test
  .changeset/calm-pets-attack.md
  .github/workflows/master-deploy.yml
  packages/components/button/src/tests/button.spec.ts
Due: eslint --cache, prettier --write

chore(ci): commit updated files in workflow
  .changeset/calm-pets-attack.md
  packages/components/button/CHANGELOG.md
  packages/components/button/package.json
Due: prettier --write, manypkg check

feat(prettier): add import sorts
  .prettierrc
  .storybook/imageshots.spec.ts
  .storybook/storyshots.spec.ts
  README.md
  package.json
  packages/components/button/src/Button.ts
  packages/components/button/src/tests/button.spec.ts
  packages/components/text/src/Text.ts
  packages/components/text/src/tests/text.spec.ts
  test.md
  yarn.lock
Due: eslint --cache, prettier --write, manypkg check

chore(docs): update naming of articles and add more detailled info per article
  README.md
  docs/front-end-framework-storybook.png
  docs/how-do-i-build-a-component-library.png
  docs/linting-testing.png
  docs/monorepo-semver-package-registry.png
  public/docs/front-end-framework-storybook.png
  public/docs/how-do-i-build-a-component-library.png
  public/docs/linting-testing.png
  public/docs/monorepo-semver-package-registry.png
Due: none

ci(master-deploy): only run on master
  .github/workflows/master-deploy.yml
  .storybook/imageshots.spec.ts
Due: none

ci(pull-request): run workflow
  .github/workflows/pull-request.yml
  package.json
Due: manypkg check

docs(readme): update framework article title
  README.md
Due: none
